{
  "env": {
    "browser": true
  },
  "extends": ["standard", "plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint", "import", "promise"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
  },
  "rules": {
    "import/order": [
      "error",
      {
        "groups": [
          ["builtin", "external"],
          "internal",
          ["parent", "sibling", "index"]
        ],
        "pathGroups": [
          {
            "pattern": "@*/**",
            "group": "internal"
          }
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc"
        }
      }
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "@typescript-eslint/no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error", {
        "argsIgnorePattern": "^_",
      }
    ],
    "no-shadow": "error"
  },
  overrides: [
    {
      "files": ["**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "rules": {
        "no-undef": "off"
      }
    }
  ]
}